.wholeParcelPage{
    box-sizing: border-box;
}
.requestheading{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one, .two, .three {
    background-color: red;
    margin: 0 auto ;

}
.circle1{
    border-radius: 50%;
    text-align: center;
    width: 50%;
    background-color: blue;
    padding: 2px;
}
.progress-title{
    display: inline;
   
    
}
.progress-title span{

}

.hr-div{
    background-color: green;
    width: 20%;
}
.theHr{
    width: 160px;
    color: rgba(2, 2, 49, 1); 
  
}
.bodyForms{
   display: flex;
   justify-content: center;
   

}
.pickup{
    margin: 0 auto;
}
.deliveryPoint1{
    margin: 0 auto;
}
input{
    background-color: rgba(0, 119, 182, 0.11);
}
label p{
    font-weight: 600;
    color: rgba(2, 2, 49, 1);
}
.asterisk{
    color: red;
}